/* @color=math.floor (Math.random()*16777215).toString(16); */

.cards {
  text-align: left;
  justify-content: center;
  width: 600px;
  height: 350px;
  border: 1px solid black;
  margin: 20px auto;
  background-color: aquamarine;
}

button {
  margin: auto 50px;
  width: 30%;
  justify-content: center;
  align-items: center;
}

#head {
  text-align: center;
}

input {
  width: 80%;
  font-size: 15px;
}

#fas {
  margin-left: 1200px;
  color: rgb(165, 16, 16);
}

table {
  margin: auto;
  width: 90%;
}

th {
  text-align: center;
}
